/* p
{
    color: red;
}

.heading1
{
    color: darkred;
    font-family: fantasy;
    font-style: italic;
}

.one{
    height: 210px;
    width: 150px;
    background-color: white;
    box-shadow: 3px 3px;
    display: inline-block;
}

.two{
    height: 210px;
    width: 150px;
    background-color: gold;
    display: inline-block;
} */

div.polaroid {
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: inline-block;
  }
  
  div.container {
    padding: 10px;
  }